/* RadMenu CssGreen skin */
.RadMenu_CssGreen
{
	background-color: transparent;
}

.RadMenu_CssGreen .rmLink,
.RadMenu_CssGreen .rmLink:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	vertical-align: middle;
	color: #fff;
	cursor: hand;
	pointer: hand;
	letter-spacing: 85%;
	word-spacing: 85%;
	padding-left: 0px;
}
.RadMenu .rmLink {
padding-left: 0px;
}

.RadMenu_CssGreen .rmLink .rmText
{
	/*padding-right: 20px;*/
}

.RadMenu_CssGreen .rmLink:hover,
.RadMenu_CssGreen .rmFocused,
.RadMenu_CssGreen .rmExpanded
{
	/*color: #BE2520;*/
	text-decoration: underline;
}

.RadMenu_CssGreen .rmLink:hover .rmText,
.RadMenu_CssGreen .rmFocused .rmText,
.RadMenu_CssGreen .rmExpanded .rmText
{
	/*border-top: 1px solid #aad199;*/
	text-decoration: underline;
}

.RadMenu_CssGreen .rmRootGroup .rmDisabled:hover
{
}

.RadMenu_CssGreen .rmRootGroup .rmDisabled:hover .rmText
{
}

.RadMenu_CssGreen .rmText
{
	padding: 0px 5px;
}

.RadMenu_CssGreen .rmRootGroup .rmItem
{
	line-height: 48px;
	color: #258250;
}
.RadMenu_CssGreen .rmHorizontal .rmSeparator .rmText {
		height: 48px;
		line-height: 48px;
}

.RadMenu_CssGreen .rmGroup
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
	background-color: #00894E;
}

.RadMenu_CssGreen .rmGroup .rmLink,
.RadMenu_CssGreen .rmGroup .rmLink:visited
{
	text-transform: none;
	font-family: Verdana, arial;
	font-size: 10px;
	font-weight: normal;
	background-color: #00894E;
	color: #fff;
	text-decoration: none;
	padding: 5px 5px 5px 0px;
	cursor: hand;
}
.RadMenu_CssGreen .rmGroup .rmItem {
		line-height: 16px;
}
.RadMenu_CssGreen .rmGroup .rmText
{
	padding-left:6px;
	padding-right: 40px;
}


.RadMenu_CssGreen .rmGroup .rmLink:hover .rmText,
.RadMenu_CssGreen .rmGroup .rmFocused .rmText,
.RadMenu_CssGreen .rmGroup .rmExpanded .rmText
{
	border-top: 0px;
}

.RadMenu_CssGreen .rmGroup .rmLink:hover,
.RadMenu_CssGreen .rmGroup .rmFocused,
.RadMenu_CssGreen .rmGroup .rmExpanded
{
	background-color: #E6E9D4;
	color: #226a22;
	text-decoration: underline;
}

.RadMenu_CssGreen .rmLeftArrow,
.RadMenu_CssGreen .rmRightArrow,
.RadMenu_CssGreen .rmTopArrow,
.RadMenu_CssGreen .rmBottomArrow,
.RadMenu_CssGreen .rmLeftArrowDisabled,
.RadMenu_CssGreen .rmRightArrowDisabled,
.RadMenu_CssGreen .rmTopArrowDisabled,
.RadMenu_CssGreen .rmBottomArrowDisabled
{
	border-left: 1px solid #c2e3bf;
	border-right: 1px solid #c2e3bf;
	background:#e6eee4 url('img/left.gif') center center no-repeat;
	width:15px;
}

.RadMenu_CssGreen .rmTopArrow,
.RadMenu_CssGreen .rmTopArrowDisabled
{
	background-image:url('img/top.gif');
	width:100%;
}

.RadMenu_CssGreen .rmBottomArrow,
.RadMenu_CssGreen .rmBottomArrowDisabled
{
	background-image:url('img/bottom.gif');
	width:100%;
}

.RadMenu_CssGreen .rmRightArrow,
.RadMenu_CssGreen .rmLeftArrow
{
	height:100%;
}

.RadMenu_CssGreen .rmRightArrow,
.RadMenu_CssGreen .rmRightArrowDisabled
{
}

.RadMenu_CssGreen .rmVertical .separator .rmText
{
	background: #dbe5d8;
	font-size:1px;
	padding-top: 2px;
	border-left: solid 1px #c2e3bf;
	border-right: solid 1px #c2e3bf;
}

.RadMenu_CssGreen .rmExpandLeft,
.RadMenu_CssGreen .rmExpandRight
{
}

.RadMenu_CssGreen .rmLink:hover .rmExpandLeft,
.RadMenu_CssGreen .rmLink:hover .rmExpandRight,
.RadMenu_CssGreen .rmFocused .rmExpandLeft,
.RadMenu_CssGreen .rmFocused .rmExpandRight,
.RadMenu_CssGreen .rmExpanded .rmExpandLeft,
.RadMenu_CssGreen .rmExpanded .rmExpandRight
{
}

/* right to left */
.RadMenu_CssGreen_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_CssGreen_rtl .rmGroup .rmLink:hover .rmExpandRight
{
	background:transparent url(img/left.gif) left center no-repeat;
	margin: 0px 1px;
	padding-left: 8px;
}

.RadMenu_CssGreen_rtl .rmExpandLeft,
.RadMenu_CssGreen_rtl .rmExpandRight
{
	background:transparent url(img/groupImageRTL.gif) left center no-repeat;
}
/* end right to left */